.container {
	/* min-height: 100vh; */
	padding: 10px 80px;
	/* padding: 0 0.5rem; */
	/* display: flex; */
	/* flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.nav__wrapper {
	/* max-height: 8em; */
	overflow: visible;
	padding: 15px 75px 15px;
	width: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	background-color: var(--light-bg);
	z-index: 999;
}

.nav__wrapper h1 {
	font-size: var(--fs-h1);
	padding: 2rem 0rem;
	font-family: var(--ff-secondary);
}

.nav__list {
	/* margin: 0;
	padding: 0; */
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav__list li {
	/* display: inline-block; */
	list-style-type: none;
	font-size: 1.4rem;
	text-transform: uppercase;
	cursor: pointer;
}
.introduction {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 40%; */
	min-height: 75vh;
}
.introduction__image {
	padding: 20px;
}
.introduction__image img {
	/* max-width: 100%; */
	max-width: 100%;
	border-radius: 50%;
}
.introduction__content {
	width: 60%;
	font-size: var(--fs-body);
}

.introduction__content p {
	margin-top: 1rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
	height: 1em;
}

.footer {
	display: flex;
	justify-items: center;
	align-items: center;
	min-height: 10vh;
}

.socialmedia {
	display: flex;
	margin-left: 40px;
	/* font-size: 3em; */
}

@media (max-width: 768px) {
	.container {
		padding: 0 1rem;
	}
	.nav__list {
		width: 100%;
		overflow-x: scroll;
		justify-content: flex-start;
	}
	.nav__wrapper {
		padding: 0px;
		height: fit-content;
	}
	.nav__list li {
		margin-right: 10px;
	}
	.introduction {
		flex-direction: column;
		height: 80vh;
	}
	.introduction__content {
		width: 100%;
		font-size: var(--fs-body);
	}
}
